*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI";
    background-color: #0d1117;
    color: #c9d1d9;
    line-height: 1.6;
}

.accent {
    color: #3a7ce0;
}

header {
    background-color: rgba(26, 28, 32, 0.9);
    padding: 1rem 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #3a7ce0;
}

nav a {
    color: #ffffff;
    font-size: 0.9rem;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
    transition: color 0.3s;
}

nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav a:hover{
    color: #3a7ce0;
}

#about-me {
    background-color: #0d1117;
    padding: 6rem 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    min-height: 70vh;

}

.hero-kiri {
    max-width: 550px;
}

.hero-kiri h2 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 0.5rem;
    line-height: 1.1;
}

.hero-kanan img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #21262d;
    transition:border-color 0.3s;
}

.hero-kiri p {
    font-size: 1.2rem;
}